body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  line-height: 1.5;
  background: ivory;
  overflow-x: hidden;
}
h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#controls {
  margin-top: 20px;
  margin-bottom: 20px;
}
.controls-hub {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

  input {
    font-size: 30px;

    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 0;
    margin: 0 5px 0 0;
    width: 80px;
    background-color: #c0fac0;
    border: 2px solid dimgray;
    border-radius: 2px;
  }
  button {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    text-transform: uppercase;
    padding: 8px;
    border: 2px solid dimgray;
    border-radius: 2px;
    background-color: #fccdca;

    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &[data-action='render'] {
      background-color: #c0fac0;
    }
  }
}
.boxes-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 80px;
}
.div-wrapper {
  cursor: pointer;
  animation: move 10s infinite;
}
.div-wrapper:hover {
  animation-play-state: paused;
}
.div-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@keyframes move {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100vw);
  }
  90% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.container {
  max-width: 1160px;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
